<h2>Name:- Sneha S Narkar</h2>
<h2>Student ID :- 87340</h2>

<h3> Course Name and Description</h3>
<p>
The class of <b>'Web Security Fundamentals'</b> which is taken by <b>Prof. Kranthi Lammatha</b>, started from the technological interpretation of data. ISO-OSI model explained us how the data flow happens from one system to another and what all components are required for accurate data delivery.
</p>
<p>In the progressing lectures we understood the functioning of hardware devices such as routers, switch etc. Since the firewalls play major role in computer security, we were taught about the working, types and other aspects related with it. The importance of VPN, its functionality, security aspects etc.showed me how in the real world data transfer and data secrecy is maintained.
</p>
Cryptography is an essential development that has happened in the web security field. I learned the different ways in which a simple data can be encrypted to prevent it from third party attack.

This class mostly focused on practical implementation of the theory hence we were given a practical to perform which taught us the basics about generating the RSA keys, sharing public key on web-based repository, creating a small project on local system, pushing it on publicly accessed site and cloud hosting.
</p>